.hXL {
    font-size: 60px;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .hL {
    font-size: 40px;
  }
  .hM {
    font-size: 30px;
  }
  .pXL {
    font-size: 20px;
  }
  .pM{
     font-size: 15px;
  }
  .pL {
    font-size: 18px;
  }
  .font-bold {
    font-weight: bold;
  }
  .font-semibold {
    font-weight: 500;
  }
  .font-light {
    font-weight: lighter;
  }
  .text_box {
    padding: 6px;
    border-radius: 8px;
    width: fit-content;
  }
  .text-white {
    color: white;
  }
  .text-green{
    color:#b9ff66;
  }
  .consultation-number{
font-size: 60px;
font-weight: 500;
line-height: 76.56px;
text-align: left;
width: 65px;
height: 77px;
  }
.consultation-text{
font-size: 30px;
font-weight: 500;
line-height: 38.28px;
text-align: left;
  }

.consultation-details{
font-weight: 400;
line-height: 22.97px;
text-align: left;
  }
  .add-card{
    padding: 30px 50px;
  }
  .pb{ 
  font-weight: bold;
  }
   .text-green {
    color: #b9ff66;
   }
   .text-underline{
    text-decoration: underline;
   }
   
